<!--<div class="row">-->
<!--  <div class="row">-->
<!--    <section class="home" id="home" >-->
<!--      <div class="contents" >-->
<!--        <h3>fresh and <span>organic </span>product for you</h3>-->
<!--        <div class="nav justify-content-center">-->
<!--          <a href="" class="btns">Cart now</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--</div>-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-lg-top" id="navbar">-->
<!--  <div class="container-fluid nav justify-content-center ps-3">-->
<!--    <a routerLink="/"><img src="assets/image/images.png" alt="" height="100" width="100"></a>-->
<!--    <button class="navbar-toggler ms-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"-->
<!--            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--      <div class="navbar-nav">-->
<!--        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>-->
<!--        <a class="nav-link active" href="#">Features</a>-->
<!--        <a class="nav-link active" href="#">Pricing</a>-->
<!--        <a class="nav-link active" href="#">Pricing</a>-->
<!--        <a class="nav-link active" href="#">Pricing</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="nav justify-content-end login me-4">-->
<!--      <a routerLink="#" class="me-5 ">-->
<!--        <button class="btn text-light cart">-->
<!--          <i class="fa-sharp fa-solid fa-bag-shopping"></i>-->
<!--        </button>-->
<!--      </a>-->
<!--      <button class="btn signin">-->
<!--        <a routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i> Đăng nhập </a>-->
<!--      </button>-->
<!--      <button class="btn ms-1 signup">-->
<!--        <a routerLink="#" class="ms-2">Đăng ký <i class="fa-solid fa-user-plus"></i></a>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->


<!--<nav class="nav sticky-lg-top">-->
<!--  <div class="logo">-->
<!--    Brand-->
<!--  </div>-->
<!--  <input type="checkbox" id="click">-->
<!--  <label for="click" class="menu-btn">-->
<!--    <i class="fa-regular fa-bars"></i>-->
<!--  </label>-->
<!--  <ul>-->
<!--    <li><a class="active" href="#">Home</a></li>-->
<!--    <li><a href="#">About</a></li>-->
<!--    <li><a href="#">Services</a></li>-->
<!--    <li><a href="#">Gallery</a></li>-->
<!--    <li><a href="#">Feedback</a></li>-->
<!--  </ul>-->
<!--</nav>-->


<nav>
  <div class="wrapper">
    <div class="logo">
      <img src="assets/image/images.png" height="100">
      <a href="#" class="ps-3">PT<span class="text-warning">Food</span></a>
    </div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-style"
             viewBox="0 0 16 16">
          <path
            d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-4 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-4-4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1z"/>
        </svg>
      </label>
      <li><a href="#">Home</a></li>
      <li>
        <a href="#" class="desktop-item">Dropdown Menu</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Dropdown Menu</label>
        <ul class="drop-menu">
          <li><a href="#">Drop menu 1</a></li>
          <li><a href="#">Drop menu 2</a></li>
          <li><a href="#">Drop menu 3</a></li>
          <li><a href="#">Drop menu 4</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="desktop-item">Mega Menu</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Mega Menu</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="assets/image/images.png" alt="">
            </div>
            <div class="row">
              <header>Design Services</header>
              <ul class="mega-links">
                <li><a href="#">Graphics</a></li>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Business cards</a></li>
                <li><a href="#">Custom logo</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Email Services</header>
              <ul class="mega-links">
                <li><a href="#">Personal Email</a></li>
                <li><a href="#">Business Email</a></li>
                <li><a href="#">Mobile Email</a></li>
                <li><a href="#">Web Marketing</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Security services</header>
              <ul class="mega-links">
                <li><a href="#">Site Seal</a></li>
                <li><a href="#">VPS Hosting</a></li>
                <li><a href="#">Privacy Seal</a></li>
                <li><a href="#">Website design</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a routerLink="/login" class="text-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd"
                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
        <span class="mt-5 "> Đăng Nhập</span></a>
      </li>
      <li>
        <a href="#" class="text-info">Đăng Ký <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
      </svg></a></li>
      <li class="ms-3">
        <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-heart-fill"
             viewBox="0 0 16 16">
          <path
            d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
        </svg>
      </a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-width"
           viewBox="0 0 16 16">
        <path
          d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </label>
  </div>
</nav>
