<!--<main class="page" style="padding-top: 100px">-->
<!--  <section class="shopping-cart dark">-->
<!--    <div class="container">-->
<!--      <div class="block-heading">-->
<!--        <h2>Shopping Cart</h2>-->
<!--      </div>-->
<!--      <div class="content">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12 col-lg-8" *ngFor=" let item of (cartList$ | async)!">-->
<!--            <div class="items">-->
<!--              <div class="product">-->
<!--                <div class="row">-->
<!--                  <div class="col-md-3">-->
<!--                    <img class="img-fluid mx-auto d-block image"-->
<!--                         src="{{item.image}}">-->
<!--                  </div>-->
<!--                  <div class="col-md-8">-->
<!--                    <div class="info">-->
<!--                      <div class="row">-->
<!--                        <div class="col-md-5 product-name">-->
<!--                          <div class="product-name">-->
<!--                            <a href="#">Lorem Ipsum dolor</a>-->
<!--                            <div class="product-info">-->
<!--                              <div>Tên: <span class="value">{{item.name}}</span></div>-->
<!--                              <div>Giá: <span class="value">{{item.price|currency:'VND'}}</span></div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-4 quantity">-->
<!--                          <label for="quantity">Quantity:</label>-->
<!--                          <input id="quantity" type="number" [(ngModel)]="item.quantity" (click)="updateQty(item)"-->
<!--                                 value="{{item.quantity}}" class="form-control quantity-input">-->
<!--                        </div>-->
<!--                        <div class="col-md-3 price">-->
<!--                          <span>{{item.sumPerOne|currency:'VND'}}</span>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-12 col-lg-4">-->
<!--            <div class="summary">-->
<!--              <h3>Summary</h3>-->
<!--              <div class="summary-item"><span class="text">Total</span><span class="price">{{totalBill|currency:'VND'}}</span>-->
<!--              </div>-->
<!--              <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>  -->
<!--    </div>-->
<!--  </section>-->
<!--</main>-->
<section class="h-100 h-custom" style="background-color: #d2c9ff;padding-top: 100px">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5" >
                    <h1 class="fw-bold mb-0 text-black">Giỏ Hàng</h1>
                  </div>
                  <hr class="my-4">
                  <div class="row mb-4 d-flex justify-content-between align-items-center"
                       *ngFor=" let item of (cartList$ | async)!">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{item.image}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-black mb-0">{{item.name}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <input min="0" name="quantity"  [(ngModel)]="item.quantity"
                             (click)="updateQty(item)" type="number"
                             class="form-control form-control-sm"/>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{item.sumPerOne|currency:'VND'}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button>
                        <a (click)="removeProduct(item)"  class="text-muted"><i class="fas fa-eraser"></i></a>
                      </button>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Quay lại trang chủ </a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Thanh Toán: </h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Tổng tiền</h5>
                    <h5 >{{totalBill|currency:'VND'}}</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg"
                          data-mdb-ripple-color="dark">Thanh toán
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
