<div id="detail">
  <section class="buy">
    <div class="product-image me-3">
      <img src="{{food.image}}" height="500" width="500">
    </div>
    <div class="product-info">
      <h1>{{food.name}}</h1>
      <hr>
      <h2>-{{food.status}}</h2>
      <h2>-{{food.manufacturing}}</h2>
      <h2>-{{food.price}}</h2>
      <button type="button">Thêm vào giỏ hàng</button>
      <button type="button">Mua sản phẩm</button>
    </div>
  </section>
<div class="col-lg-6">
  <section class="details" style="text-align: justify; font-size: 20px">
    <div class="product-description">
      <p>{{food.content}}</p>
    </div>
  </section>
</div>
</div>
