img {
  border-radius: 50%;
}

.active {
  font-size: 20px;
}

#navbar .nav {
  background-color: orange;
  padding: 0;
}
#navbar{
  padding: 0;
  border: solid 1px white;
}
.login a {
  text-decoration: none;
  color: black;
}

.nav span {
  color: orange;
}

.cart{
  background-color: green;
  border: solid white 1px;
}
.signin{
  background-color: #0d85e0;
  border: solid white 1px;
}
.signup{
  background-color: deepskyblue;
  border: solid white 1px;
}
.signin:hover {
  background-color: darkgray;
  border: solid white 1px;
}
.cart:hover {
  background-color: darkgray;
  border: solid white 1px;
}
.signup:hover {
  background-color: darkgray;
  border: solid white 1px;
}

.info{
  background-image: url("https://e7.pngegg.com/pngimages/736/269/png-clipart-food-background-food-fruit.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 20px;
  color: white;
}





